body{
    height:auto;
    width: auto;

}

.contact-info{
    width: 100vw;
    font-size: 2vw;
}

nav{
    /* visibility: hidden; */
    width: 100%;
}

.options li {
    font-size: vw;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

.options{
    visibility: hidden;
    width: 0;
    height: 0 ;
}



.main-img{
    display: flex;
    justify-content: center;
}

.about-services {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-component{
    width: 80vw;
    min-width: 80vw;
    text-align: center;
    /* display: ; */
}

.c-us-btn{
    font-size: 2vw;
}

#title{
    font-size: 3.5vw;
}

#r-nav{
    font-size: 6vw;
}
/* #title ,#rtitle{
    font-size: 5vw;
} */

.rtitle{
    font-size: 8vw;
}

#r{
    font-size: 8vw;
}

.arrow {
    height: 2px;
    width: 2px;
}

.slogan span {
    font-size: 1px;
    color: rgb(41 111 83);
}

.slogan{
    justify-content: center;
}


#sn-img {
    /* border-radius: 2vw; */
    /* scale: 2; */
    /* height: 20vw;*/
   width: max-content;
    height: max-content;
}

.i-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 2vw; */
    height: fit-content;
    width: fit-content;
}

.card-info{
    text-align: center;
    font-size: 5;
}

#poc{
    font-size: 3vw;
}
#hoc{
    font-size: 4.308vw;
}

.cards .row{
    flex-direction: column;
}

/* .card-img{
    width: 20vw;
} */

.card{
    min-width: 80%;
    /* height: 60vw; */
}

.card-title{
    font-size: 8vw;
}

.card-text{
    font-size: 10vw;
}

.card-btn{
    background-color: rgb(17, 16, 16);
    padding: 4vw;
    font-size: 3vw;
    color: whitesmoke;
    width: auto;

    border-radius: 1vw;
}

#heading{
    font-size: 10px;
}


.o-c-name {
    font-style: italic;
    padding: .3vw;
    /* word-wrap: break-word; */
    max-width: 20vw;
}

.o-c-btn {
    font-size: 2vw;
    background-color: black;
    color: wheat;
    padding: 3vw;
    border-radius: .6vw;
}

.o-c-btn:hover {
    font-size: 1vw;
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    padding: .4vw;
    border-radius: .6vw;
}

.o-c-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* recall */

.recall{
    flex-direction: column;
    justify-content: space-between;
    background-color: wheat;
}

.r-our-services-components{
    width: 100%;
    /* display: flex;
    justify-content: center; */
    margin-bottom: 2vw;
    font-size: smaller;
    text-align: start;
    border-bottom: 1px solid wheat;
}

.r-our-services-components-head{
    /* text-align: center; */
    font-size: 3vw;
}

.m-n-f{
    flex-direction: column;
}

.contact-boxes{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contact-box{
    min-width: 80%;
    font-size: 3vw;
}
